.managejob-div-container {
    //width: fit-content;
    max-width: 800px;
    margin: 0px auto;
    //background-color: #99753f;
    //background-image: linear-gradient(to right,#10344e, #0644a0, #0557ac);
    padding:20px 0px;
    .pane-area-container{
      min-height: 330px;
      width: 600;
    }
  }
  .list-item {
    border-radius: 5px 5px 0px 0px;
    border: 0.1em solid black;
  }
  .pane-container{
    width: 100%
  }
  
  .font-login {
    color: black;
    cursor: pointer;
  }

  .font-bold {
    font-weight: bold;
  }

  .fixed-size {
    width: 70px !important;
    height: 50px !important;
  }